<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :grade_or_class %><br />
    <%= f.text_field :grade_or_class %>
  </div>
  <div class="field">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :research_time %><br />
    <%= f.text_field :research_time %>
  </div>
  <div class="field">
    其他参与者<br />
    <% @users.each do |user| %>
      <%= check_box_tag "partner_ids[]", user.id, true if @checkbox[user.id] == true %>
      <%= user.username %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :bk_purpose_importance %><br />
    <%= f.text_area :bk_purpose_importance, :id => "kindeditor_id1" %>
  </div>
  <div class="field">
    <%= f.label :content_question %><br />
    <%= f.text_area :content_question, :id => "kindeditor_id2" %>
  </div>
  <div class="field">
    <%= f.label :cond_outcome %><br />
    <%= f.text_area :cond_outcome, :id => "kindeditor_id3" %>
  </div>
  <div class="field">
    <%= f.label :feature_creation %><br />
    <%= f.text_area :feature_creation, :id => "kindeditor_id4" %>
  </div>
  <div class="field">
    <%= f.label :process %><br />
    <%= f.text_area :process, :id => "kindeditor_id5" %>
  </div>
  <div class="field">
    <%= f.label :opinion1 %><br />
    <%= f.text_area :opinion1, :id => "kindeditor_id6" %>
  </div>
  <div class="field">
    <%= f.label :opinion2 %><br />
    <%= f.text_area :opinion2, :id => "kindeditor_id7" %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit')%>
  </div>
<% end %>
