<%= simple_form_for(@post, :html => { :class => 'form-horizontal' } ) do |f| %>
  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :grade_or_class %>
    <%= f.input :subject %>
    <%= f.input :school %>
    <%= f.input :research_time %>
    <%= f.association :term, include_blank: false %>
    <%= f.association :users, :collection => @users, :as => :check_boxes, :label_method => :username, item_wrapper_class: 'inline', :label => '其他参与者(最多选择两名其它参与者)' %>
    <%= f.input :bk_purpose_importance, as: :kindeditor %>
    <%= f.input :content_question, as: :kindeditor %>
    <%= f.input :cond_outcome, as: :kindeditor %>
    <%= f.input :feature_creation, as: :kindeditor %>
    <%= f.input :process, as: :kindeditor %>
    <%= f.input :mid_research, as: :kindeditor %>
    <%= f.input :final_result, as: :kindeditor %>
    <%= f.input :renewal, as: :kindeditor %>
    <%= f.input :attach_data, as: :kindeditor %>
    <%= f.input :opinion1, as: :kindeditor if current_user.popedom == 1 %>
    <%= f.input :opinion2, as: :kindeditor if current_user.popedom == 1 %>
    <%= f.input :evaluate_result, as: :kindeditor if current_user.popedom == 1 %>    
    <%= f.hidden_field :creator_id, value: @post.creator_id %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, '确 定', :class => "btn btn-primary" %>
    <%= link_to '取 消', posts_path, :class => "btn" %>
  </div>
<% end %>
