<h2>一点研究课题列表</h2>
<div class="pull-left">
  <%= form_tag('/search_by_term', :method => :get) do %>
  <b>年度：</b><%= select_tag "term_id", options_from_collection_for_select(Term.all, "id", "name", params[:term_id]), onchange: "submit()" %>
  <% end %>
</div>
<%= link_to '新建课题', new_post_path, :class => 'btn btn-primary pull-right' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>课题名称</th>
      <th>立项负责人</th>
      <th>其它参与者</th>
      <th>创建时间</th>
      <th>操 作</th>
    </tr>
  </thead>
  <tbody>
  <% @posts.each_with_index do |post| %>
    <% creator = @creator[post.id] %>
    <% partner = @partner[post.id] %>
    <tr>
      <td><%= link_to post.title, post %></td>
      <td><%= creator[:username] %></td>
      <td><%= partner[:username] %></td>
      <td><%= post.term.name %></td>
      <td><%= link_to '编 辑', edit_post_path(post), :class => 'btn btn-mini btn-primary' if creator[:can_operate] or partner[:can_operate]%>   <%= link_to '删 除', post, confirm: '你确定删除?', method: :delete, :class => 'btn btn-mini btn-danger' if creator[:can_operate]%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%#= will_paginate @posts, class: 'apple_pagination' %>