<h1><%= t('.title') %></h1>

<table class="post_table">
  <tr>
    <th class="th1">序 号</th>
    <th class="th2"><%= t('.table_title') %></th>
    <th class="th3">立项负责人</th>
    <th class="th4">其它参与者</th>
    <th class="th5">创建时间</th>
    <!--th>修改时间</th-->
    <th class="th6" colspan="3">操 作</th>
  </tr>

<% @posts.each_with_index do |post, index| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= index+1 %></td>
    <td class="td2"><%= post.title %></td>
    <td><%= @creator[post.id][:creator] %></td>
    <td><%= @partner[post.id][:partner] %></td>
    <td><%= post.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
    <td colspan="3"><%= link_to t('.show'), post %>   <%= link_to t('.edit'), edit_post_path(post) %>   <%= link_to t('.destroy'), post, confirm: t('.are_you_sure'), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new_post'), new_post_path %>
