<!DOCTYPE html>
<html>
	<head>
		<title><%= t('.title') %></title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= include_kindeditor_if_needed %>
		<%= csrf_meta_tags %>
	</head>
	<body>
        <div class="menu">
          <%= link_to "首 页", root_url %> | 
		<% if current_user %>
            <%= t('.current_user_as') %><strong><%= current_user.username %></strong>
            | <%= link_to '修改用户信息', edit_user_path(current_user) %>
			| <%= link_to t('.logout'), logout_path %>
		<% else %>
			<%= link_to t('.signup'), signup_path %> | 
			<%= link_to t('.login'), login_path %>.
		<% end %>
        </div>

		<%= yield %>

	</body>
</html>
